MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your@gmail.com
MAIL_PASSWORD=your_app_password
MAIL_FROM_NAME=TubeYou

DB_HOST=localhost
DB_NAME=tubeyou
DB_USER=root
DB_PASSWORD=

FFMPEG_PATH=ffmpeg
FFPROBE_PATH=ffprobe

RESEND_API_KEY=your_resend_api_key