MAIL_USERNAME=no-reply@mail.panto-dev.com
MAIL_FROM_NAME=TubeYou
MAIL_REPLY_TO=panto@panto-dev.com
APP_URL=http://localhost:8080

DB_HOST=localhost
DB_NAME=tubeyou
DB_USER=root
DB_PASSWORD=

FFMPEG_PATH=ffmpeg
FFPROBE_PATH=ffprobe

RESEND_API_KEY=

REDIS_HOST=
REDIS_PORT=6379
